h2{
    padding-top: 10px;
    font-size: 15px;
}

ion-button{
    width: 170px;
}

.content{
    min-height: 110vh;
}


@media (min-width: 769px){
    form{
        width:500px; 
        padding: 50px 10px;
    }
}