<ion-content>
  <app-header backButton="/auth"></app-header>
  <app-logo></app-logo>
  <h2 class="ion-text-center ion-no-margin">Registro de empresa</h2>
  <div class="content">

    <div class="d-flex-center">
      <form (keyup.enter)="submit()" (ngSubmit)="submit()" class="ion-text-center">
        <app-custom-input autocomplete="name" [control]="form.controls.name" type="text" label="Nombre de empresa" icon="storefront-outline"></app-custom-input>

        <div class="validators" *ngIf = "form.controls.name.errors && form.controls.name.dirty">
          <div *ngIf = "form.controls.name.errors ?.['required']">Ingresa el nombre de tu empresa</div>
          <div *ngIf = "form.controls.name.errors ?.['minlength']">Ingresa un nombre valido</div>
        </div>

        <app-custom-input autocomplete="email" [control]="form.controls.email" type="email" label="Correo" icon="mail-outline"></app-custom-input>

        <div class="validators" *ngIf = "form.controls.email.errors && form.controls.email.dirty">
          <div *ngIf = "form.controls.email.errors ?.['required']">Ingresa su email</div>
          <div *ngIf = "form.controls.email.errors ?.['email']">Ingresa un email valido</div>
        </div>

        <app-custom-input autocomplete="phone" [control]="form.controls.phone" type="text" label="Telefono" icon="call-outline"></app-custom-input>

        <div class="validators" *ngIf = "form.controls.phone.errors && form.controls.phone.dirty">
          <div *ngIf = "form.controls.phone.errors ?.['required']">Ingresa el numero telefonico de la empresa</div>
          <div *ngIf = "form.controls.phone.errors ?.['minlength']">Ingresa un numero valido</div>
        </div>

        <app-custom-input autocomplete="address" [control]="form.controls.address" type="text" label="Direccion" icon="location-outline"></app-custom-input>

        <div class="validators" *ngIf = "form.controls.address.errors && form.controls.address.dirty">
          <div *ngIf = "form.controls.address.errors ?.['required']">Ingresa la direccion de la empresa</div>
          <div *ngIf = "form.controls.address.errors ?.['minlength']">Ingresa una direccion valida</div>
        </div>

        <app-custom-input [control]="form.controls.category" type="select" label="Categoria" icon="list-outline"></app-custom-input>

        <div class="validators" *ngIf = "form.controls.category.errors && form.controls.category.dirty">
          <div *ngIf = "form.controls.category.errors ?.['required']">Ingresa una contraseña</div>
        </div>

        <app-custom-input (formDataChange)="handleFormDataChange($event)" [control]="form.controls.image" type="image" label="Foto" icon="image-outline"></app-custom-input>

        <app-custom-input [control]="form.controls.password" type="password" label="Contraseña" icon="lock-closed-outline"></app-custom-input>

        <div class="validators" *ngIf = "form.controls.password.errors && form.controls.password.dirty">
          <div *ngIf = "form.controls.password.errors ?.['required']">Ingresa una contraseña</div>
        </div>

        <app-custom-input [control]="form.controls.confirmPassword" type="password" label="Confirmar contraseña" icon="checkmark-circle-outline"></app-custom-input>

        <div class="validators" *ngIf = "form.controls.confirmPassword.errors && form.controls.confirmPassword.dirty">
          <div *ngIf = "form.controls.confirmPassword.errors ?.['required']">Ingresa tu contraseña</div>
          <div *ngIf = "form.controls.confirmPassword.errors ?.['noMatch']">Las contraseñas no coinciden</div>
        </div>
        

        <ion-button class="ion-margin-vertical" [disabled]="form.invalid" type="submit" shape="round">
          Registrame
          <ion-icon slot="end" name="storefront-outline"></ion-icon>
        </ion-button>

      </form>
    </div>

  </div>

</ion-content>
