<ion-content>
  <app-header title="Perfil"></app-header>

  <div class="content ion-text-center">

    <ion-grid>
      <ion-row>
        <ion-col class="center-img" sizeMd="4" offsetMd="4" size="12" >
          <ion-avatar *ngIf="imageProfile">
            <img src="{{ imageProfile }}" />
          </ion-avatar>
        </ion-col>
        <ion-col sizeMd="4" offsetMd="4" size="12">
          <h2 class="capitalized">{{user.name}}</h2>
          <div>{{user.email}}</div>
        </ion-col>
        <ion-col sizeMd="4" offsetMd="4" size="12">
          <ion-button *ngIf ="user.typeUser == 'company'" fill="outline" shape="round" routerLink ="../company-profile/{{company.id}}">
            <strong>Ver reseñas</strong>
            <ion-icon slot="end" name="reader-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col sizeMd="4" offsetMd="4" size="12">
          <ion-button (click)="signOut()" shape="round">
            Cerrar Sesion
            <ion-icon slot="end" name="log-out-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>  

  </div>

</ion-content>
